<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Hotel</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"></link>
</head>
<body class="container">
<br/>
<h1>添加机票</h1>
<br/><br/>
<div class="with:80%">
    <form class="form-horizontal"   th:action="@{/add}"  method="post">
        <div class="form-group">
            <label for="hotelName" class="col-sm-2 control-label">Hotel Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="hotelName"  id="hotelName" placeholder="hotelName"/>
            </div>
        </div>
        <div class="form-group">
            <label for="room" class="col-sm-2 control-label" >Room</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="room" id="toWhere" placeholder="room"/>
            </div>
        </div>
        <div class="form-group">
            <label for="price" class="col-sm-2 control-label" >Price</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="price" id="price" placeholder="price"/>
            </div>
        </div>
        <div class="form-group">
            <label for="dtime" class="col-sm-2 control-label">The Time</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="dtime"  id="dtime" placeholder="dtime"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="Submit" class="btn btn-info" />
                &nbsp; &nbsp; &nbsp;
                <input type="reset" value="Reset" class="btn btn-info" />
            </div>

        </div>
    </form>
</div>
</body>
</html>
